@charset "UTF-8";

.footer-wrap{max-width:1200px;margin:0 auto;}
.footer-wrap .footer-box{display:flex;justify-content:space-between;align-items:flex-end;padding:20px 0;}
.footer-wrap .footer-box .left-box .copyright{font-size:14px;line-height:20px;color:#ccc;word-break:keep-all;}
.footer-wrap .footer-box .right-box > p{font-size:16px;line-height:22px;color:#ccc;text-align:right;word-break:keep-all;}

@media screen and (max-width:1200px) {
    .footer-wrap{padding:0 15px;box-sizing:border-box;}   
}

@media screen and (max-width:480px) {
    .footer-wrap .footer-box{display:block;padding:10px 0;}
    .footer-wrap .footer-box .left-box .copyright{font-size:12px;line-height:18px;}
    .footer-wrap .footer-box .right-box > p{font-size:12px;line-height:20px;text-align:left;}
}