@charset "UTF-8";

.main-content-wrap01{height:100vh !important;background:#fff url(../img/img-bg-intro.jpg) no-repeat center / cover;position:relative;z-index:9;}
.main-content-wrap01:after{content:"";position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:rgba(255,255,255,.5);}

.main-content-box01 .main-content{position:relative;padding:0 !important;}
.main-content-box01 .main-content .txt-box{text-align:center;}
.main-content-box01 .main-content .txt-box .txt{font-size:48px;line-height:72px;}
.main-content-box01 .main-content .txt-box .txt:after{content:"";display:inline-block;width:2px;height:48px;margin:0 0 10px 5px;vertical-align:middle;background:#000;animation: Text 0.5s linear infinite alternate;}

.main-content-box01 .main-content .scrolldown{position:absolute;bottom:30px;left:calc(50% - 25px);width:50px;animation: Scroll 0.8s infinite alternate;}

@keyframes Text {
    0%{opacity:0;}
    40%{opacity:.8;}
    100%{opacity:.8;}
}

@keyframes Scroll {
    0%{transform:translateY(15px);}
    100%{transform:translateY(0);}
}

@media screen and (max-width:768px){
    .main-content-wrap01{height:100vh !important;}
    .main-content-box01 .main-content .txt-box .txt{font-size:32px;line-height:48px;}
    .main-content-box01 .main-content .txt-box .txt:after{height:32px;margin:0 0 9px 5px;}
    .main-content-box01 .main-content .scrolldown{width:40px;left:calc(50% - 20px);}
}

@media screen and (max-width:480px){
    .main-content-box01 .main-content .txt-box .txt{font-size:22px;line-height:36px;}
    .main-content-box01 .main-content .txt-box .txt:after{height:22px;margin:0 0 7px 5px;}
}
