@charset "UTF-8";

.main-content-box04 .main-content .address-box{text-align:center;}

.address-box > a{display:inline-block;margin:30px auto;font-size:96px;transition:.5s;position:relative;}
.address-box > a:after{content:"soomin-s@nate.com";position:absolute;top:0;left:0;width:0;background-image:linear-gradient(to right, rgb(46, 176, 199), rgb(233, 151, 182));background-clip:text;-webkit-background-clip:text;color:transparent;white-space:nowrap;overflow:hidden;transition:.5s;}
.address-box > a:hover, .address-box > a:focus{color:transparent;}
.address-box > a:hover:after, .address-box > a:focus:after{width:100%;}
.address-box > p{font-size:16px;line-height:22px;color:#666;}

@media screen and (max-width:1024px){
    .address-box > a{font-size:72px;}
}

@media screen and (max-width:768px) {
    .address-box > a{font-size:42px;}
}

@media screen and (max-width:480px){
    .address-box > a{font-size:28px;}
    .address-box > p{font-size:14px;}
}