html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}

.global-width{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 40px;
}

.scroll-graphic{
	position: sticky;
	top: 0;
	height: 100vh;
}

.graphic-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .3s;
}
.graphic-item.active{
	opacity: 1;
}
.scene-img{
	display: block;
	max-width: 100vw;
	height: 100vh;
	margin: 0 auto;
}
.scene-img[alt="bird"]{
	width: 300px;
	height: 200px;
	margin-top: 35vh;
}
.bird{
	position: absolute;
	width: 70px;
	height: 50px;
}
.graphic-item[data-action="birdFlies"] .bird{
	opacity: 0;
	top: 150px;
	left: 280px;
}
.graphic-item[data-action="birdFlies"].active .bird{
	animation: ani1 2s .5s linear forwards;
}
.graphic-item[data-action="birdFlies2"] .bird{
	bottom: 200px;
	left: 400px;
}
.graphic-item[data-action="birdFlies2"].active .bird{
	animation: ani2 2s .5s linear forwards;
}
.scroll-text{
	position: relative;
}
.step{
	width: 400px;
	margin: 0 auto;
	margin-bottom: 70vh;
	padding: 10px 20px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .8);
}

@keyframes ani1{
	0%{
		opacity: 0;
	}
	2%{
		opacity: 1;
		transform: translateX(0);
	}
	80%{
		opacity: 1;
	}
	98%{
		transform: translateX(800px);
	}
	100%{
		opacity: 0;
	}
}
@keyframes ani2{
	0%{
		opacity: 1;
		transform: translate(0, 0);
	}
	80%{
		opacity: 1;
	}
	98%{
		transform: translate(600px, -300px);
	}
	100%{
		opacity: 0;
	}
}