@charset "UTF-8";


button{
  cursor: pointer;
}

.main{
  display: inline-block;
  width: 600px;
  margin-left: calc(68% - 600px);
  box-sizing: border-box;
}
.main .main_header{
  position: fixed;
  width: 600px;
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid #E6ECF0;
  box-sizing: border-box;
  z-index: 10;
}
.main_header > h2{
  font-size: 19px;
  line-height: 54px;
  padding-left: 15px;
}
.main_header .main_header_btn{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(./img/twinkle_icon.png) no-repeat center / contain;
  background-size: 70%;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
}
.main_header_btn:hover{
  background: #E8F5FE url(./img/twinkle_icon.png) no-repeat center / contain;
  background-size: 70%;
}

/* 입력창 */
.main .main_input_wrap{
  height: auto;
  padding: 15px;
  padding-top: 64px;
  padding-bottom: 0;
  border-bottom: 10px solid #E6ECF0;
  font-size: 0;
}
.main_input_wrap > div,
.main_twit_item > div{
  display: inline-block;
  vertical-align: top;
}
.main_input_wrap .user_img_box,
.main_twit_list .user_img_box{
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.user_img_box .user_img{
  width: 50px;
  height: 50px;
}
.user_img > a{
  display: block;
  height: 100%;
  position: relative;
}
.user_img > a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: .2s;
}
.user_img:hover > a::before{
  background-color: rgba(0, 0, 0, .2);
}

.main_input_wrap .main_input_box,
.main_twit_list .twit_content_box{
  width: calc(100% - 65px);
}
.main_input_box textarea{
  width: 100%;
  min-height: 40px;
  font-size: 19px;
  word-break: break-all;
  padding: 10px 0;
  margin-bottom: 10px;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}
.main_input_box .input_bottom{
  border-top: 1px solid #E6ECF0;
  padding: 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.input_bottom > div{
  display: inline-block;
}
.input_bottom .input_btn_wrap{
  width: max-content;
  font-size: 0;  
}
.input_btn_wrap .input_btn{
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #1DA1F2;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  padding: 5px;
  margin-right: 4px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  transition: .2s;
}
.input_btn:nth-of-type(3){
  font-size: 22px;
}
.input_btn:hover{
  background-color: #E8F5FE;
}
.input_bottom .input_right_side{
  float: right;
}
.input_right_side .input_check_words{
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #1DA1F2;
  border-right: 1px solid rgb(150, 150, 150);
  padding-right: 10px;
  margin-right: 15px;
  vertical-align: top;
}
.input_check_words > span{
  display: block;
  height: 100%;
  font-size: 13px;
  text-align: center;
  line-height: 35px;
}

.input_bottom .input_twit{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: #1DA1F2;
  width: 65px;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  vertical-align: top;
  transition: .2s;
}
.input_twit:hover{
  background-color: #1d8ed4;
}

/* 트윗 리스트 */
.main .main_twit_list{
  height: auto;
}
.main_twit_list .main_twit_item{
  height: auto;
  padding: 12px 15px 3px;
  border-bottom: 1px solid #E6ECF0;
  font-size: 0;
  cursor: pointer;
  transition: .2s;
  position: relative;
}
.main_twit_item.twit_item_basic{
  display: none;
}
.main_twit_item:hover{
  background-color: #F7F7F7;
}
.twit_delete{
  padding: 14px;
  color: red;
}
.main_twit_list button,
.extra_menu_btn{
  width: 35px;
  height: 35px;
  color: #70818F;
  font-size: 15px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: .2s;
}
.main_twit_list button:hover,
.extra_menu_btn:hover{
  background-color: #E8F5FE;
}
.main_twit_list .twit_content_box{
  position: relative;
}
.twit_content_box .twit_header{
  height: 25px;
  font-size: 16px;
  color: #70818F;
}
.twit_header > a{
  display: inline-block;
  line-height: 25px;
}
.main_twit_item[data-user="lock"] .twit_user_name::after{
  content: '\f023';
  font-family: "FontAwesome";
  font-size: 18px;
  margin-left: 3px;
  text-decoration: none;
}
.twit_header > a:first-of-type:hover .twit_user_name{
  text-decoration: underline;
}
.twit_header > a:first-of-type:hover .twit_user_name::after{
  text-decoration: none;
}
.twit_header .twit_user_name{
  font-weight: bold;
  color: #000;
  margin-right: 3px;
}
.twit_header .twit_time:hover::before{
  text-decoration: none;
}
.twit_header .twit_time:hover{
  text-decoration: underline;
}
.main_twit_item .extra_menu_btn{
  position: absolute;
  top: 5px;
  right: 5px;
}
.extra_menu_btn:hover{
  color: #1DA1F2;
}
.twit_content_box .twit_content{
  margin: 3px 0 8px;
}
.twit_content .twit_text{
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
}
.twit_content .twit_img{
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.twit_img > img{
  display: inline-block;
  margin-right: 2px;
  object-fit: cover;
}
.twit_img > img:nth-of-type(2n){
  margin-right: 0;
}
.twit_img[data-thumb='1'] > img{
  width: 100%;
  height: 100%;
}
.twit_img[data-thumb='2'] > img{
  width: calc(50% - 1px);
  height: 100%;
}


/* 하단 버튼 목록 */
.twit_content_box .twit_footer_btn{
  height: 35px;
  margin-left: -10px;
  position: relative;
}
.twit_footer_btn > div{
  position: absolute;
  bottom: 0;
}
.twit_footer_btn .comment{
  left: 0;
}
.twit_footer_btn .retweet{
  left: 140px;
}
.twit_footer_btn .like{
  left: 280px;
}
.twit_footer_btn .share{
  left: 420px;
}
.twit_footer_btn .twit_footer_btn_num{
  font-size: 15px;
  color: #70818F;
  margin-left: 2px;
}
.twit_footer_btn > div:last-of-type{
  margin-right: 0;
}
.twit_footer_btn > div:hover button,
.twit_footer_btn > div:hover span{
  color: #1DA1F2;
}
.twit_footer_btn > div:hover button{
  background-color: #E8F5FE;
}
.twit_footer_btn > .retweet:hover button,
.twit_footer_btn > .retweet:hover span,
.twit_footer_btn > .retweet.active button,
.twit_footer_btn > .retweet.active span{
  color: #2BC471;
}
.twit_footer_btn > .retweet:hover button{
  background-color: #E0F2E8;
}
.twit_footer_btn > .like:hover button,
.twit_footer_btn > .like:hover span,
.twit_footer_btn > .like.active button,
.twit_footer_btn > .like.active span{
  color: #E0245E;
}
.twit_footer_btn > .like:hover button{
  background-color: #F5E1E7;
}
.twit_footer_btn > .retweet.active button,
.twit_footer_btn > .like.active button{
  animation: BTN_ani .5s both;
}

.main_twit_item[data-user="lock"] .retweet button{
  color: #AEB7BF;
}
.main_twit_item[data-user="lock"] .retweet:hover button{
  color: #AEB7BF;
  background-color: transparent;
}

/* 버튼 클릭시 나타나는 하위 리스트 */
.main_twit_item .twit_extra_menu{
  top: 5px;
  right: 5px;
}
.twit_extra_menu .extra_list_item:nth-of-type(3) .extra_list_icon{
  font-size: 18px;
}

.twit_footer_btn .twit_extra_menu{
  width: 220px;
}
.twit_footer_btn .twit_extra_menu .extra_list_icon{
  color: #666;
}
.last-item .twit_footer_btn .twit_extra_menu{
  top: auto;
  bottom: 0;
}

@keyframes BTN_ani{
  0%{
    transform: scale(1);
    background-color: transparent;
  }
  50%{
    transform: scale(1.5);
    background-color: transparent;
  }
  100%{
    transform: scale(1);
    background-color: transparent;
  }
}