@charset "UTF-8";


@media screen and (max-width: 1350px){
  .messenger{
    width: 350px;
  }
  .msn_preview .user_id{
    display: inline-block;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1281px){
  .left_bar{
    width: calc(62% - 600px);
    min-width: 70px;
  }
  .left_bar_wrap{
    width: max-content;
    float: right;
  }
  .left_bar .gnb{
    width: max-content;
    padding-right: 10px;
  }
  .gnb > .logo,
  .gnb > .gnb_list{
    margin: 0 auto;
  }
  .gnb .gnb_list{
    width: max-content;
  }
  .gnb_item > a,
  .gnb_item > span{
    padding-right: 12px;
  }
  .gnb_item .gnb_icon{
    margin-right: 0;
  }
  .gnb_text{
    display: none;
  }
  .left_bar .gnb_sub_list{
    width: 195px;
  }
  .gnb_btn_twt{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #1DA1F2 url(./img/twit_write.png) no-repeat center / contain;
    background-size: 55%;
  }
  .gnb_btn_twt > span{
    display: none;
  }
  .left_bar .user{
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
  }
  .left_bar .user .user_profile{
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
  }
  .left_bar .user_modal{
    right: auto;
    left: 0;
  }
  .user .user_modal::after{
    left: 10%;
  }
  .left_bar .user_modal .user_profile{
    padding: 0;
  }
  .left_bar .user_profile .user_img{
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .left_bar .user_modal .user_profile .user_img{
    margin: 2px 10px 0 0;
  }
  .left_bar .user_profile .user_name,
  .left_bar .user_profile .user_id{
    display: none;
  }
  .left_bar .user_modal .user_profile .user_name,
  .left_bar .user_modal .user_profile .user_id{
    display: block;
  }
  .left_bar .user .user_profile::after{
    display: none;
  }


  .main{
    margin-left: calc(62% - 600px);
  }
  .right_bar{
    width: 38%;
  }
  .messenger{
    width: 400px;
  }
}

@media screen and (max-width: 1164px){
  .left_bar .gnb{
    padding-right: 7px;
  }
  .messenger{
    width: 350px;
  }
}

@media screen and (max-width: 1096px){
  .left_bar{
    width: calc(67% - 600px);
    min-width: 50px;
  }
  .main{
    margin-left: calc(67% - 600px);
  }
  .right_bar {
    width: 33%;
    padding-left: 15px;
  }
  .right_bar > div,
  .right_bar > footer{
    width: 300px;
  }
  .trend_ranking_item .trend_extra_menu{
    font-size: 14px;
  }
  .search_box > input{
    width: 85%;
  }
}

@media screen and (max-width: 1078px){
  .messenger{
    display: none;
  }
}

@media screen and (max-width: 1005px){
  .left_bar{
    width: calc(82% - 600px);
    min-width: 100px;
  }
  .left_bar .gnb{
    padding-right: 20px;
  }
  .main{
    margin-left: calc(82% - 600px);
    border-right: 1px solid #E6ECF0;
  }
  .main .main_header{
    border-right: 1px solid #E6ECF0;
  }
  .right_bar{
    display: none;
  }
}

@media screen and (max-width: 870px){
  .main{
    margin-left: 100px;
  }
}

@media screen and (max-width: 718px){
  .main,
  .main .main_header{
    width: calc(100% - 100px);
  }
  .twit_footer_btn .retweet{
    left: 30%;
  }
  .twit_footer_btn .like{
    left: 60%;
  }
  .twit_footer_btn .share{
    left: 85%;
  }
}

@media screen and (max-width: 617px){
  .left_bar{
    width: 70px;
    min-width: 70px;
  }
  .left_bar .gnb {
    padding-right: 10px;
  }
  .main,
  .main .main_header{
    width: calc(100% - 70px);
  }
  .main{
    margin-left: 70px;
  }
  .twit_content .twit_img {
    height: calc(100vw * 0.4);
  }

}
@media screen and (max-width: 470px){
  .main_input_box textarea{
    font-size: 16px;
  }
  .input_btn_wrap .input_btn{
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 18px;
  }
  .input_btn_wrap .input_btn:nth-of-type(2n){
    display: none;
  }
  .input_right_side .input_check_words{
    padding-right: 4px;
    margin-right: 10px;
  }
  .twit_header > a{
    vertical-align: top;
  }
  .twit_header > span{
    vertical-align: middle;
  }
  .twit_header > a:first-of-type{
    width: max-content;
    max-width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .twit_header .twit_user_name{
    margin-right: 0;
  }
  .twit_content_box .twit_header,
  .twit_content .twit_text{
    font-size: 14px;
  }
  .twit_content_box .twit_footer_btn{
    line-height: 35px;
  }
  .twit_footer_btn .retweet{
    left: 25%;
  }
  .twit_footer_btn .like{
    left: 50%;
  }
  .twit_footer_btn .share{
    left: 75%;
  }
  .twit_content_box .twit_footer_btn button,
  .main_twit_list .twit_content_box button{
    width: 25px;
    height: 25px;
  }
  .main_twit_list .twit_content_box button{
    top: 0;
  }
  .twit_footer_btn .twit_footer_btn_num{
    font-size: 12px;
    margin-left: 0;
  }
  .twit_footer_btn .twit_extra_menu{
    line-height: normal;
  }
}

@media screen and (max-height: 614px){
  .gnb_list .gnb_item:nth-of-type(5),
  .gnb_list .gnb_item:nth-of-type(6){
    display: none;
  }
  .gnb_sub_list .extra_list_item:nth-of-type(1),
  .gnb_sub_list .extra_list_item:nth-of-type(2){
    display: block;
  }
  .gnb_sub_list{
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media screen and (max-height: 469px){
  .left_bar{
    overflow-y: scroll;
  }
  .messenger{
    transform: translateY(80vh);
  }
  .messenger .msn_list{
    height: 80vh;
  }
}