@charset "UTF-8";


@media screen and (max-width: 1024px){
  .header_wrap{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .gnb_item > a{
    padding: 8px 12px;
  }

  .main .main_wrap,
  .service .service_wrap,
  .price .price_wrap,
  .work .work_wrap,
  .client .client_wrap,
  .contact .contact_wrap{
    width: 750px;
  }
  .input_name, .input_mail, .input_phone{
    width: 180px;
  }
  .input_submit{
    width: 155px;
  }
  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    width: 120px;
    font-size: 13px;
  }

  .service_list .service_item{
    width: 360px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .service_item > h3{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .service_item > p{
    font-size: 12px;
  }

  .about .about_wrap{
    padding: 100px 30px;
  }
  .about .header_text > p{
    width: 100%;
    max-height: 250px;
    font-size: 14px;
    margin-top: 15px;
  }
  .about_wrap .read_more{
    left: 30px;
  }

  .price{
    height: 700px;
  }
  .price_wrap .price_list{
    text-align: center;
  }
  .price_list .price_item{
    width: 245px;
    height: 330px;
    padding: 20px 10px;
  }
  .price_item:hover{
    height: 400px;
    padding: 55px 20px;
  }
  .price_item .plan_title{
    font-size: 20px;
  }
  .price_item .plan_price{
    margin: 15px auto 20px;
  }

  .work_wrap .work_step{
    text-align: center;
  }
  .work_step .work_step_item{
    width: 170px;
  }
  .work_step_item .step_text {
    margin-top: 30px;
  }

  .client{
    height: 870px;
  }
  .client_wrap .client_testimonial{
    height: 560px;
  }
  .client_testimonial .testimonial_item{
    width: 360px;
    height: 270px;
  }
  .testimonial_item:nth-of-type(2n) {
    margin-left: 30px;
  }
  .testimonial_item:nth-of-type(n+3) {
    margin-top: 20px;
  }
  .testimonial_item .client_img {
    width: 100px;
    height: 100px;
  }
  .testimonial_item .client_text{
    width: 200px;
    margin-left: 120px;
  }
  .testimonial::before{
    left: -20px;
  }
  .client_text .name{
    left: 0;
  }
  .name > em{
    display: block;
  }

  .subscribe_form .input_name,
  .subscribe_form .input_mail{
    width: 260px;
  }
  .subscribe_form input[type='text'],
  .subscribe_form input[type='email']{
    width: 200px;
  }
  .address_map .address_box{
    left: 263px;
    bottom: 40px;
  }
}

@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }
  body > section{
    margin-left: 100px;
    width: calc(100% - 100px);
    height: max-content !important;
    box-sizing: border-box;
  }
  .main .main_wrap,
  .service .service_wrap,
  .price .price_wrap,
  .work .work_wrap,
  .client .client_wrap,
  .contact .contact_wrap{
    width: 100%;
    height: max-content;
  }
  .main .main_wrap{
    height: 500px;
  }
  .header{
    width: 100px;
    height: 100%;
    bottom: 0;
    border-right: 1px solid #dedede;
  }
  .header_wrap{
    text-align: center;
  }
  .header_wrap .logo{
    margin-top: 15px;
  }
  .header_wrap .gnb{
    margin-top: 15px;
    float: none;
  }
  .gnb .gnb_item{
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .gnb_item > a{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .header_text{
    padding: 0 20px;
    box-sizing: border-box;
  }
  .header_text > h2{
    font-size: 1.5em;
  }
  
  .main{
    margin-top: 0;
  }
  .main_wrap .request_form{
    padding: 40px 20px;
  }
  .request_form > div{
    width: 32%;
    font-size: 12px;
    margin-right: 2%;
  }
  .main .input_phone{
    margin-right: 0;
  }
  .main .input_submit{
    display: block;
    width: 50%;
    margin: 10px auto 0;
  }
  .request_form label{
    width: 15px;
  }
  input[type='text'],
  input[type='email'],
  input[type='tel']{
    width: calc(100% - 50px);
  }
  .main_wrap .main_thumbnail{
    width: 450px;
    height: 280px;
    top: 60%;
  }
  .main_thumbnail .thumb_showing{
    width: 308px;
    height: 172px;
    top: 13px;
    left: 72px;
  }

  .service_list .service_item{
    display: block;
    width: 100%;
    padding-right: 20px;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .service_item:nth-of-type(1){
    background-position: 22px top;
  }
  .service_item:nth-of-type(2){
    background-position: 20px top;
  }
  .service_item:nth-of-type(3){
    background-position: 20px 2px;
  }
  .service_item:nth-of-type(4){
    background-position: 20px 2px;
  }
  .service_item:nth-of-type(5){
    background-position: 22px top;
  }
  .service_item:nth-of-type(6){
    margin-bottom: 0;
    background-position: 30px top;
  }

  .about .about_img,
  .about .about_wrap{
    display: block;
    width: 100%;
    height: 300px;
  }
  .about .about_wrap{
    padding: 30px;
  }
  .about .header_text{
    text-align: center;
    padding: 0;
  }
  .about .header_text > p{
    width: 100%;
    max-height: 140px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
  }
  .about_wrap .read_more{
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }

  .price_wrap .price_list{
    height: max-content;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .price_list .price_item{
    display: block;
    width: 350px;
    height: 230px;
    margin: 5px auto 0;
  }
  .price_item .plan_title{
    margin-bottom: 10px;
  }
  .price_item .plan_price{
    float: left;
    width: 40%;
    height: 110px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  .price_item .plan_info{
    float: right;
    width: 60%;
    border: none;
  }
  .plan_info:nth-of-type(3){
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  .price_item .plan_start{
    clear: both;
    transform: translateY(10px);
  }
  .price_item:hover{
    width: 420px;
    height: 230px;
    padding: 20px 45px;
    margin-top: 5px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, .3);
  }

  .work_wrap .work_step{
    height: max-content;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .work_step .work_step_item{
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    transform: translate(0, -50px);
  }
  .work_step_item .step_icon{
    float: left;
    margin: 0 20px;
    height: 100%;
  }
  .step_icon > img{
    height: 60px;
  }
  .work_step_item .step_text{
    margin-top: 0;
    margin-left: 100px;
    text-align: left;
  }
  .step_text > p{
    font-size: 12px;
    margin-top: 10px;
    padding-left: 0;
  }

  .client_wrap .client_testimonial{
    height: max-content;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .client_testimonial .testimonial_item{
    width: 100%;
    height: 200px;
    padding: 3%;
    margin: 0 0 10px;
  }
  .testimonial_item .client_text {
    width: calc(100% - 120px);
  }

  .subscribe_form > div{
    display: block;
  }
  .subscribe_form .input_name,
  .subscribe_form .input_mail{
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .subscribe_form .input_submit{
    width: 50%;
    margin: 0 auto;
  }
  .subscribe_form input[type='text'],
  .subscribe_form input[type='email']{
    width: calc(100% - 50px);
  }
  .contact_wrap .address_map{
    width: 95%;
    height: 50vh;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .address_map .address_box{
    left: calc(50% - 100px);
    bottom: calc(50% - 100px);
  }
  .address_box::before{
    display: none;
  }

  .footer{
    margin-left: 100px;
    width: calc(100vw - 100px);
    box-sizing: border-box;
  }
  .footer_wrap .copyright{
    line-height: 40px;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) and (max-height: 520px){
  .header_wrap{
    overflow-y: scroll;
  }
}

@media screen and (max-width: 741px){
  .footer_wrap .copyright{
    line-height: 20px;
  }
}

@media screen and (max-width: 560px){
  body > section,
  .footer{
    width: 100%;
    margin-left: 0;
  }
  
  .header{
    width: 0;
    border: none;
    transition: .5s;
  }
  .header.active{
    width: 100px;
    border-right: 1px solid #dedede;
  }
  .header_wrap{
    opacity: 0;
    padding: 0;
  }
  .header.active .header_wrap{
    opacity: 1;
    padding: 0 10px;
  }
  .gnb_btn{
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    left: 100%;
    width: 40px;
    height: 40px;
    color: rgb(57, 75, 80);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    z-index: 99;
  }
  
  .service_list .service_item{
    background-position: 20px top;
  }
  .service_item:nth-of-type(3){
    background-position: 17px 2px;
  }
  .service_item:nth-of-type(4){
    background-position: 18px 2px;
  }
  .service_item:nth-of-type(6){
    background-position: 30px top;
  }

  .to_top{
    display: block;
    position: fixed;
    right: 10px;
    bottom: 70px;
    width: 40px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    padding: 3px 0;
    background-color: rgb(57, 75, 80);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    transition: .3s;
  }
  .to_top.active{
    opacity: .8;
    visibility: visible;
  }
  .to_top .fa{
    display: block;
    font-size: 15px;
  }
}

@media screen and (max-width: 460px){
  .service .service_wrap,
  .price .price_wrap,
  .work .work_wrap,
  .client .client_wrap,
  .contact .contact_wrap{
    padding: 50px 0;
  }

  .header.active{
    width: 80px;
  }
  .gnb_item > a{
    padding: 5px;
    font-size: 10px;
  }

  .main .main_wrap{
    padding-top: 50px;
  }
  .request_form > div{
    width: 100%;
    margin: 0 0 10px;
  }
  .main .input_submit{
    width: 100%;
    margin: 0 auto;
  }
  .main_wrap .main_thumbnail{
    width: 320px;
    height: 210px;
    top: 380px;
  }
  .main_thumbnail .thumb_showing{
    width: 220px;
    height: 122px;
    top: 9px;
    left: 50px;
  }

  .service_list .service_item{
    padding-left: 70px;
    margin-bottom: 30px;
  }
  .service_item:nth-of-type(1),
  .service_item:nth-of-type(2),
  .service_item:nth-of-type(4),
  .service_item:nth-of-type(5){
    background-size: 40px;
  }
  .service_item:nth-of-type(3){
    background-size: auto 30px;
  }
  .service_item:nth-of-type(6){
    background-size: auto 40px;
    margin-bottom: 0;
  }
  .service_item > p{
    line-height: 18px;
  }

  .about .about_img{
    height: 200px;
  }
  .about .about_wrap{
    height: max-content;
  }
  .about .header_text > p{
    max-height: inherit;
    height: max-content;
  }
  .about_wrap .read_more{
    position: relative;
    left: auto;
    bottom: auto;
    margin: 20px auto 0;
    transform: none;
  }

  .price_wrap .price_list{
    padding: 0;
  }
  .price_list .price_item{
    width: 260px;
    height: 170px;
    padding: 10px 5px;
    font-size: 12px;
  }
  .price_item .plan_title{
    font-size: 16px;
  }
  .price_item .plan_price{
    height: 120px;
  }
  .price_item .plan_info{
    padding: 6px 0;
  }
  .price_item .plan_start{
    clear: none;
    float: right;
    margin: 10px 20px;
    transform: none;
  }
  .price_item:hover{
    width: 300px;
    height: 170px;
    padding: 10px 25px;
  }

  .work_step .work_step_item{
    height: max-content;
    margin-bottom: 30px;
  }
  .work_step_item .step_icon{
    margin: 0 20px 0 5px;
  }
  .work_step_item .step_text{
    margin-left: 85px;
  }
  .step_text > h3{
    font-size: 16px;
  }
  .step_text > p{
    margin-top: 5px;
    line-height: 18px;
  }

  .client_testimonial .testimonial_item{
    height: 185px;
  }
  .testimonial_item .client_img{
    width: 80px;
    height: 80px;
  }
  .testimonial_item .client_text{
    width: calc(100% - 100px);
    margin-left: 100px;
  }
  .client_text .testimonial{
    font-size: 11px;
    line-height: 16px;
  }
  .client_text .name{
    font-size: 14px;
  }

  .subscribe_form .input_name,
  .subscribe_form .input_mail{
    font-size: 12px;
    padding: 8px;
  }
  .subscribe_form .input_submit{
    height: 33px;
    font-size: 12px;
  }

  .address_map .address_box{
    width: 150px;
    height: 150px;
    font-size: 12px;
    padding: 20px 15px;
    left: calc(50% - 75px);
    bottom: calc(50% - 75px);
  }
  .address_box > em{
    font-size: 14px;
  }
  .address_box .address{
    margin: 5px 0;
    line-height: 16px;
  }
  .address_box > a{
    line-height: 16px;
  }

  .sns > a{
    padding: 8px;
    margin: 0 3px;
  }
  .footer_wrap .copyright{
    font-size: 12px;
  }
}

@media screen and (max-width: 330px){
  .client_testimonial .testimonial_item{
    height: 210px;
  }
}
