@charset "UTF-8";


/* work 섹션 */
.work{
  height: 760px;
  background-color: #fff;
}
.work .work_wrap{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.work .header_text{
  color: rgb(57, 75, 80);
}
.work_wrap .work_step{
  height: 360px;
  margin: 40px 0;
  font-size: 0;
}
.work_step .work_step_item{
  display: inline-block;
  width: 235px;
  height: 100%;
  font-size: 16px;
  margin-right: 20px;
  background-color: #fff;
  vertical-align: top;
  text-align: center;
  transform: translateX(-50px);
  opacity: 0;
  transition: 1s;
  position: relative;
}
.work_step_item:nth-of-type(2){
  transition-delay: 1s;
}
.work_step_item:nth-of-type(3){
  transition-delay: 2s;
}
.work_step_item:last-of-type{
  margin-right: 0;
  transition-delay: 3s;
}
.work_step_item .step_icon{
  width: 60px;
  height: 60px;
  margin: 30px auto 0;
}
.step_icon > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.work_step_item .step_text{
  margin-top: 60px;
}
.step_text > h3{
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.step_text > p{
  font-size: 14px;
  color: #666;
  line-height: 20px;
  margin-top: 50px;
  padding: 0 5px;
}
.work_wrap .get_start_btn{
  display: block;
  width: max-content;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 40px;
  margin: 0 auto;
  background-color: rgb(255, 187, 66);
  border-radius: 2px;
  transition: .3s;
}
.get_start_btn:hover{
  background-color: rgb(57, 75, 80);
  color: rgb(255, 187, 66)
}

/* client 섹션 */
.client{
  height: 760px;
  background-color: rgb(255, 193, 85);
}
.client .client_wrap{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}
.client .header_text{
  color: #fff;
}
.client_wrap .client_testimonial{
  height: 450px;
  margin-top: 50px;
  font-size: 0;
}
.client_testimonial .testimonial_item{
  display: inline-block;
  width: 480px;
  height: 210px;
  font-size: 16px;
  background-color: #fff;
  padding: 30px 20px;
  vertical-align: top;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: .5s;
}
.testimonial_item:nth-of-type(2){
  transition-delay: 1s;
}
.testimonial_item:nth-of-type(3){
  transition-delay: 2s;
}
.testimonial_item:nth-of-type(4){
  transition-delay: 3s;
}
.testimonial_item:nth-of-type(2n){
  margin-left: 40px;
}
.testimonial_item:nth-of-type(n+3){
  margin-top: 30px;
}
.testimonial_item .client_img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  float: left;
}
.client_img > img{
  width: 100%;
  height: 100%;
}
.testimonial_item .client_text{
  height: 100%;
  position: relative;
}
.client_text .testimonial{
  font-size: 13px;
  line-height: 20px;
  color: #666;
  position: relative;
}
.testimonial::before{
  content: '';
  position: absolute;
  top: 0;
  left: 122px;
  width: 15px;
  height: 15px;
  background: url(./img/quote.png) no-repeat left -1px bottom;
  background-size: 30px 30px;
}
.testimonial::after{
  content: '';
  position: absolute;
  bottom: -10px;
  right: -3px;
  width: 15px;
  height: 15px;
  background: url(./img/quote.png) no-repeat right -1px top;
  background-size: 30px 30px;
}
.client_text .name{
  position: absolute;
  left: 140px;
  bottom: 0;
  display: block;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: rgb(153, 169, 174);
}
.name > em{
  font-style: normal;
  font-weight: 600;
  color: rgb(246, 119, 44)
}

/* contact 섹션 */
.contact{
  height: 800px;
  background-color: #fff;
}
.contact .contact_wrap{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
}
.contact .header_text{
  color: rgb(57, 75, 80);
}
.contact_wrap .subscribe_form{
  padding: 30px 20px;
  font-size: 0;
  text-align: center;
  box-sizing: border-box;
}
.subscribe_form > div{
  display: inline-block;
  background-color: #fff;
  color: #666;
  font-size: 14px;
  padding: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;
}
.subscribe_form .input_name,
.subscribe_form .input_mail{
  width: 350px;
  text-align: left;
  border: 1px solid #dedede;
  margin-right: 15px;
  box-sizing: border-box;
}
.subscribe_form .input_submit{
  height: 40px;
}
.subscribe_form input{
  border: none;
}
.subscribe_form input[type='text'],
.subscribe_form input[type='email']{
  width: 290px;
}
.subscribe_form label{
  display: inline-block;
  width: 20px;
  text-align: center;
}
.subscribe_form input::placeholder{
  color: #aaa;
}
.subscribe_form input:focus::placeholder{
  opacity: 0;
  visibility: hidden;
}

.contact_wrap .address_map{
  height: 440px;
  background: url(./img/dotted_map.png) repeat-x center left -250px / contain;
  position: relative;
}
.address_map .address_box{
  position: absolute;
  left: 375px;
  bottom: 45px;
  transform: translateY(50px);
  width: 200px;
  height: 200px;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  background-color: rgb(57, 75, 80);
  color: rgb(153, 164, 167);
  border-radius: 50%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  transition: 1s;
}
.address_box::before{
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg) skew(10deg, 10deg);
  width: 15px;
  height: 15px;
  background-color: rgb(57, 75, 80);
}
.address_box > em{
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
.address_box .address{
  margin: 10px 0;
  line-height: 20px;
}
.address_box > a{
  line-height: 20px;
  transition: .3s;
}
.address_box > a:hover{
  color: rgb(255, 187, 66);
}

/* 푸터 */
.footer{
  height: 120px;
}
.footer .footer_wrap{
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.footer_wrap .sns{
  height: 60px;
  font-size: 0;
  padding-top: 7px;
  box-sizing: border-box;
}
.sns > a{
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: rgb(112, 157, 202);
  text-align: center;
  line-height: 25px;
  margin: 0 5px;
  padding: 10px;
  border-radius: 50%;
  transition: .3s;
}
.sns > a > .fa{
  transition: .3s;
}
.sns > a:nth-of-type(3){
  font-size: 19px;
}
.sns > a:hover{
  background-color: rgb(57, 75, 80);
  color: rgb(255, 187, 66);
}
.sns > a:hover > .fa{
  -webkit-transform: rotate3d(0, 1, 0, 360deg);
  transform: rotate3d(0, 1, 0, 360deg);
}
.footer_wrap .copyright{
  height: 60px;
  line-height: 60px;
  background-color: rgb(112, 157, 202);
  color: #fff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  word-spacing: 2px;
}
