@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700;900&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap');
/* font-family: 'Manrope', sans-serif; */


html{
  scroll-behavior: smooth;
}
.gnb_btn,
.to_top{
  display: none;
}

/* 헤더 */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 10;
}
.header_wrap{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.header_wrap .logo{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(./img/logo.png) no-repeat center / contain;
  margin-top: 10px;
}
.logo > a{
  display: block;
  width: 100%;
  height: 100%;
}
.header_wrap .gnb{
  float: right;
  font-size: 0;
  margin-top: 21px;
}
.gnb .gnb_item{
  display: inline-block;
  text-transform: uppercase;
  color: #666;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-radius: 2px;
  margin-left: 2px;
  transition: .3s;
}
.gnb_item:hover,
.gnb_item.active{
  background-color: rgb(255, 187, 66);
  color: #fff;
}
.gnb_item > a{
  display: block;
  padding: 8px 16px;
}

/* 메인 섹션 */
.main{
  margin-top: 72px;
  background-color: rgb(112, 157, 202);
}
.main .main_wrap{
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 80px;
  box-sizing: border-box;
  position: relative;
}
.header_text{
  margin: 0 auto;
  text-align: center;
}
.main .header_text{
  color: #fff;
}
.header_text > h2{
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  word-spacing: 5px;
}
.header_text > p{
  font-size: 14px;
  margin-top: 5px;
}

.main_wrap .request_form{
  padding: 20px;
  box-sizing: border-box;
  font-size: 0;
}
.request_form > div{
  display: inline-block;
  background-color: #fff;
  color: #666;
  font-size: 14px;
  padding: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;
}
.input_name,
.input_mail,
.input_phone{
  width: 250px;
  margin-right: 5px;
}
.input_submit{
  padding: 0 !important;
  width: 195px;
  height: 37.5px;
}
.input_submit:hover > input{
  background-color: rgb(57, 75, 80);
  color: rgb(255, 187, 66)
}
input[type='text'],
input[type='email'],
input[type='tel']{
  width: 190px;
}
input[type='submit']{
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(255, 187, 66);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  transition: .3s;
}
.request_form input{
  border: none;
}
.request_form input::placeholder{
  color: #aaa;
}
.request_form input:focus::placeholder{
  opacity: 0;
  visibility: hidden;
}
.request_form label{
  display: inline-block;
  width: 20px;
  text-align: center;
}

.main_wrap .main_thumbnail{
  position: absolute;
  width: 550px;
  height: 330px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background: url(./img/labtop.png) no-repeat top center / contain;
  box-sizing: border-box;
}
.main_thumbnail .thumb_showing{
  position: absolute;
  width: 380px;
  height: 210px;
  top: 15px;
  left: 86px;
  overflow: hidden;
}
.thumb_showing .thumb_items_wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  font-size: 0;
  transform: translateX(0);
  transition: .3s;
}
.thumb_items_wrap > div{
  display: inline-block;
  width: 33.3333333%;
  height: 100%;
}
.thumb_items_wrap > div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_thumbnail .thumb_label{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.thumb_label > span{
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background-color: #000;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: .3s;
}
.thumb_label > span.active{
  background-color: rgb(255, 187, 66);
}

/* 서비스 섹션 */
.service{
  margin-top: 80px;
}
.service .service_wrap{
  width: 1000px;
  height: max-content;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}
.service .header_text,
.service_item > h3{
  color: rgb(57, 75, 80);
}

.service_wrap .service_list{
  margin-top: 50px;
  font-size: 0;
}
.service_list .service_item{
  display: inline-block;
  width: 480px;
  margin-right: 40px;
  margin-bottom: 50px;
  padding-left: 80px;
  font-size: 14px;
  vertical-align: top;
  box-sizing: border-box;
  opacity: 0;
  transition: 1s;
}
.service_item:nth-of-type(1){
  background: url(./img/icon_1.png) no-repeat top left 12px;
  background-size: 50px;
}
.service_item:nth-of-type(2){
  background: url(./img/icon_2.png) no-repeat top left 10px;
  background-size: 50px;
  transition-delay: .5s;
}
.service_item:nth-of-type(3){
  background: url(./img/icon_3.png) no-repeat top 2px left 10px;
  background-size: auto 40px;
  transition-delay: 1s;
}
.service_item:nth-of-type(4){
  background: url(./img/icon_4.png) no-repeat top 2px left 10px;
  background-size: 50px;
  transition-delay: 1.5s;
}
.service_item:nth-of-type(5){
  background: url(./img/icon_5.png) no-repeat top left 12px;
  background-size: 50px;
  margin-bottom: 0;
  transition-delay: 2s;
}
.service_item:nth-of-type(6){
  background: url(./img/icon_6.png) no-repeat top left 20px;
  background-size: auto 50px;
  margin-bottom: 0;
  transition-delay: 2.5s;
}
.service_list .service_item:nth-of-type(2n){
  margin-right: 0;
}
.service_item > h3{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.service_item > p{
  color: #666;
  line-height: 22px;
}

/* 어바웃어스 섹션 */
.about{
  height: 550px;
  font-size: 0;
}
.about .about_img,
.about .about_wrap{
  display: inline-block;
  width: 50%;
  height: inherit;
  vertical-align: top;
  overflow: hidden;
}
.about_img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .about_wrap{
  font-size: 16px;
  padding: 100px 60px;
  background-color: rgb(255, 193, 85);
  box-sizing: border-box;
  position: relative;
}
.about .header_text{
  color: #fff;
  text-align: left;
}
.about .header_text > p{
  width: 400px;
  font-size: 16px;
  margin-top: 20px;
  line-height: 24px;
  transform: translateX(300px);
  opacity: 0;
  transition: 2s;
}
.about_wrap .read_more{
  position: absolute;
  left: 60px;
  bottom: 100px;
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(231, 173, 72);
  border-radius: 2px;
  transition: .3s;
}
.about_wrap .read_more:hover{
  color: rgb(231, 173, 72);
  background-color: #fff;
}

/* 가격 섹션 */
.price{
  height: 760px;
  background-color: rgb(231, 237, 243);
}
.price_wrap{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}
.price .header_text{
  color: rgb(57, 75, 80);
}
.price_wrap .price_list{
  height: 460px;
  font-size: 0;
  margin-top: 40px;
}
.price_list .price_item{
  display: inline-block;
  width: 330px;
  height: 390px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: rgb(125, 125, 125);
  background-color: #fff;
  vertical-align: top;
  padding: 40px 20px;
  margin-top: 35px;
  margin-right: 5px;
  box-sizing: border-box;
  opacity: 0;
  transition: .3s;
}
.price_item:last-of-type{
  margin-right: 0;
}
.price_item:hover{
  height: 100%;
  color: rgb(213, 234, 255);
  background-color: rgb(112, 157, 202);
  padding: 75px 20px;
  margin-top: 0;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}
.price_item .plan_title{
  font-weight: 400;
  font-size: 24px;
}
.price_item > span{
  display: block;
}
.price_item .plan_price{
  margin: 20px auto 30px;
}
.price_item .plan_price > em{
  display: block;
  width: max-content;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  color: rgb(255, 187, 66);
  margin: 0 auto;
  transform: translateX(5px);
  position: relative;
}
.price_item .plan_price > em::before{
  position: absolute;
  content: '$';
  font-size: 24px;
  font-weight: 400;
  top: 4px;
  left: -16px;
}
.price_item:hover .plan_price > em{
  color: #fff;
}
.price_item .plan_info{
  padding: 10px 0;
  border-top: 1px solid #dedede;
}
.price_item:hover .plan_info{
  border-color: rgb(172, 204, 236);
  animation: plan_ani .5s forwards;
}
.price_item:hover .plan_info:nth-of-type(2){
  animation-delay: .5s;
}
.price_item:hover .plan_info:nth-of-type(3){
  animation-delay: 1s;
}
.price_item:hover .plan_info:nth-of-type(4){
  animation-delay: 1.5s;
}
.price_item .plan_start{
  display: block;
  width: max-content;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 10px 15px;
  background-color: rgb(255, 187, 66);
  margin: 20px auto 0;
  border-radius: 2px;
  transition: .3s;
}
.plan_start:hover{
  font-weight: 600;
  color: rgb(255, 187, 66);
  background-color: #fff;
}

@keyframes plan_fade{
  100%{
    opacity: 1;
  }
}
@keyframes plan_ani{
  100%{
    color: #fff;
    text-shadow: 1px 1px 2px #000;
  }
}