@charset "UTF-8";

/* font-family: 'Tenor Sans', sans-serif; */


.section_header{
  height: 160px;
}
.section_header h2{
  display: inline-block;
  margin-left: 15%;
  line-height: 160px;
  font-size: 56px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: normal;
}
.section_header a{
  font-size: 12px;
  margin-left: 20px;
}

.brands_content{
  background-color: #fff;
  padding: 70px 0;
  box-sizing: border-box;
}

.brands_content .brands_slide_wrap{
  width: 100%;
  max-width: 1180px;
  height: 376px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.brands_slide_wrap .brands_btn_arrow{
  position: absolute;
  top: 40%;
  font-size: 60px;
  color: #333;
  cursor: pointer;
  z-index: 10;
}
.brands_slide_wrap .brands_btn_arrow:first-of-type{
  left: -70px;
}
.brands_slide_wrap .brands_btn_arrow:nth-of-type(2){
  right: -70px;
}
.brands_btn_box{
  position: absolute;
  height: 100%;
  top: 0;
  cursor: pointer;
}
.brands_slide_wrap .brands_btn_box{
  width: 300px;
}
.img_now_showing .brands_btn_box:nth-of-type(3){
  right: 470px;
}
.img_now_showing .brands_btn_box:last-of-type{
  left: 470px;
}

.brands_slide_wrap .img_now_showing,
.brands_logo_slide_wrap .logo_now_showing{
  width: 360px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.img_now_showing .brands_img_list{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2820px;
  font-size: 0;
  transform: translateX(-995px);
}
.brands_img_list .brands_img_item{
  display: inline-block;
  width: 360px;
  height: max-content;
  margin: 0 55px;
  position: relative;
  cursor: pointer;
  opacity: .2;
  transition: .3s;
}
.brands_img_item.active{
  opacity: 1;
}
.brands_img_item > img{
  width: 100%;
  height: auto;
}
.brands_img_item > a{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, .7);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.brands_img_item.active:hover > a{
  opacity: 1;
  visibility: visible;
  transition-delay: .3s;
}
.brands_img_item > a > p{
  position: absolute;
  display: block;
  bottom: 30px;
  left: 30px;
  right: 30px;
}
.brands_img_item > a > p > em{
  display: block;
  margin-top: 20px;
  font-weight: normal;
  font-style: normal;
}

.brands_logo_slide_wrap{
  width: 100%;
  max-width: 1180px;
  height: 80px;
  margin: 40px auto 0;
  overflow: hidden;
  position: relative;
}
.logo_now_showing .brands_logo_list{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2160px;
  font-size: 0;
  transform: translateX(-720px);
}
.brands_logo_slide_wrap .brands_btn_box{
  width: 295px;
}
.brands_logo_slide_wrap .brands_btn_box:first-of-type{
  right: 360px;
}
.brands_logo_slide_wrap .brands_btn_box:last-of-type{
  left: 360px;
}

.brands_logo_list .brands_logo_item{
  display: inline-block;
  width: 360px;
  height: 80px;
  opacity: .2;
  transition: .3s;
}
.brands_logo_item.active{
  opacity: 1;
}
.brands_logo_item > img{
  width: 100%;
  height: auto;
  transform: scale(.9);
}
.brands_logo_item.active > img{
  transform: scale(1);
}

.news .news_content{
  padding: 70px 0;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
}
.news_content .news_wrap{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  font-size: 0;
}
.news_content .news_link_wrap{
  width: calc(50% - 8%);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.news_content .news_link_wrap:first-of-type{
  margin-right: 8%;
}
.news_content .news_link_wrap:last-of-type{
  margin-left: 8%;
}
.news_link_wrap .news_thumb{
  display: block;
  transition: .3s;
}
.news_thumb img{
  width: 100%;
  height: auto;
}
.news_link_wrap .news_smallInfo{
  margin: 25px 0;
  font-size: 12px;
  overflow: hidden;
}
.news_smallInfo > a{
  color: #008ce4;
  transition: .3s;
}
.news_smallInfo > span{
  float: right;
}
.news_link_wrap > h3{
  font-size: 32px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
  transition: .3s;
}
.news_link_wrap > p{
  max-height: 80px;
  margin: 25px 0;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.news_link_wrap .news_readmore{
  font-size: 12px;
  transition: .3s;
}
.news_link_wrap .news_thumb:hover,
.news_smallInfo > a:hover,
.news_link_wrap > h3:hover,
.news_link_wrap .news_readmore:hover{
  opacity: .5;
}