@charset "UTF-8";

/* font-family: 'Tenor Sans', sans-serif; */


.featured .featured_content{
  padding: 70px 0;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
}
.featured_content > div{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  font-size: 0;
}
.featured_content .featured_col1{
  margin-bottom: 80px;
}
.featured_content .featured_wrap{
  display: inline-block;
  vertical-align: top;
}
.featured_col1 .featured_wrap{
  width: calc(50% - 15px);
  height: auto;
}
.featured_col1 .featured_wrap:first-of-type{
  margin-right: 15px;
}
.featured_col1 .featured_wrap:last-of-type{
  margin-left: 15px;
}
.featured_col2 .featured_wrap{
  width: calc(33.33333% - 60px);
  height: auto;
  margin-right: 90px;
}
.featured_col2 .featured_wrap:last-of-type{
  margin-right: 0;
}
.featured_wrap > a{
  display: block;
}

.featured_thumb > img{
  width: 100%;
  height: auto;
}
.featured_wrap .featured_category{
  display: block;
  width: max-content;
  margin: 15px 0;
  font-size: 12px;
  color: #008ce4;
  transition: .3s;
}
.featured_wrap h3{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Tenor Sans', sans-serif;
  margin-bottom: 20px;
}
.featured_wrap .featured_readmore{
  display: block;
  width: max-content;
  font-size: 12px;
  transition: .3s;
}

.featured_category:hover,
.featured_readmore:hover{
  opacity: .5;
}

.featured_other{
  padding: 40px 0;
  color: #000;
  background-color: #fff;
  border-top: 1px solid #dedede;
  box-sizing: border-box;
}
.featured_other .featured_other_wrap{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  font-size: 0;
}
.featured_other_wrap > div{
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  padding: 15px 0;
  box-sizing: border-box;
}
.featured_other .investors{
  padding-right: 80px;
}
.featured_other .work_with_us{
  padding-left: 80px;
  border-left: 1px solid #dedede;
}
.investors > span{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin: 20px 0;
}

.featured_other h3{
  font-size: 58px;
  font-weight: 400;
  font-family: 'Tenor Sans', sans-serif;
  color: #015F9C;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.featured_other a{
  font-size: 12px;
  display: block;
  width: max-content;
  transition: .3s;
}
.featured_other .work_with_us > p{
  font-size: 16px;
  line-height: 22px;
}
.work_with_us > a{
  margin-top: 25px;
}

.featured_other a:hover{
  opacity: .5;
}


footer{
  background-color: #131522;
  font-family: 'Tenor Sans', sans-serif;
}
footer .gnb{
  height: 100px;
  text-transform: capitalize;
  font-size: 16px;
  border-bottom: 1px solid #3a3a3a;
  box-sizing: border-box;
}
footer .gnb_list_item > a::after{
  display: none;
}

footer .contact{
  width: max-content;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
}
.contact span{
  margin-right: 5px;
}
.contact > a{
  margin: 0 10px;
  transition: .3s;
}
.contact .fa{
  font-size: 20px;
}
.contact > a:hover{
  color: #898A90;
}

footer .other_link{
  border-top: 1px solid #3a3a3a;
}
.other_link .other_link_wrap{
  padding: 40px 0;
  margin: 0 auto;
}
.other_link_wrap{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-align: center;
}
.other_link_wrap a{
  margin-right: 20px;
}
.other_link_wrap .contact_us{
  display: block;
  width: max-content;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 15px;
  margin: 0 auto 20px;
}

.btn_side{
  position: fixed;
  right: 15px;
  bottom: 30px;
  z-index: 9999;
}
.btn_side > div{
  width: 50px;
  height: 50px;
}
.btn_side .share{
  position: relative;
}
.share button{
  width: 100%;
  height: 100%;
  border: none;
  background-color: #1b1d2d;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}
.share .share_modal{
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 280px;
  height: 200px;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  z-index: 9999;
  overflow: hidden;
  display: none;
}
.share_modal .modal_pageName{
  width: 80%;
  height: 100%;
  float: left;
  border-right: 1px solid #dedede;
  box-sizing: border-box;
}
.modal_pageName > span{
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.modal_pageName > p{
  font-size: 24px;
  font-family: 'Tenor Sans', sans-serif;
  line-height: 30px;
  letter-spacing: -1px;
}
.share_modal .modal_linklist{
  width: 20%;
  height: 100%;
  float: right;
}
.modal_linklist > a{
  display: block;
  width: 16px;
  margin-top: 22px;
  margin-left: 25px;
  text-align: center;
}
.modal_linklist > a:first-of-type{
  margin-top: 0;
}
.to_top{
  display: none;
  margin-top: 10px;
}
.to_top > a{
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  text-align: center;
  line-height: 45px;
  border: 1px solid #dedede;
  background-color: #fff;
  font-size: 24px;
}

.modal_dimmed{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 9990;
  display: none;
}
