@charset "UTF-8";


@media screen and (max-width: 1144px){
  .visual_slider.img1{
    background: url(./img/MainImg1.jpg) no-repeat top center / cover;
  }
  .visual_slider.img2{
    background: url(./img/MainImg2.jpg) no-repeat top center / cover;
  }
  .visual_slider.img3{
    background: url(./img/MainImg3.jpg) no-repeat top center / cover;
  }
}

@media screen and (max-width: 1054px){
  .visual_slider .vs_slider_nav {
    left: 50px;
    right: 50px;
    height: 150px;
  }
  .vs_slider_nav .slider_nav_btn{
    display: block;
  }
  .vs_slider_nav > div[data-sliderNum="img1"].active ~ .slider_nav_btn:first-of-type{
    display: none;
  }
  .vs_slider_nav > div[data-sliderNum="img3"].active ~ .slider_nav_btn:last-of-type{
    display: none;
  }
  .vs_slider_nav > div{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }
  .vs_slider_nav > div.active{
    opacity: 1;
    visibility: visible;
  }
  .vs_slider_nav > div::before{
    display: none;
  }
  .vs_slider_nav a{
    transform: none;
    transition: none;
  }

  .brands_logo_slide_wrap{
    margin: 20px auto;
  }
}

@media screen and (max-width: 1022px){
  .main header{
    height: 70px;
  }
  .header_top .stock{
    display: none;
  }
  .header_top .menubar{
    display: block;
    left: 20px;
    cursor: pointer;
  }
  .header_top label[for=search]{
    right: 20px;
  }
  .header_top .lang{
    right: 55px;
    width: 30px;
  }
  .lang .lang_option{
    position: absolute;
    top: calc(100% + 5px);
    left: -60px;
    width: max-content;
    padding: 0 5px;
    background-color: #000;
    border-top: 1px solid dodgerblue;
    display: none;
    overflow: visible;
  }
  .lang .lang_option::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: -4px;
    left: 71px;
    text-align: center;
    transform: rotate(45deg);
    border-top: 1px solid dodgerblue;
    border-left: 1px solid dodgerblue;
    background-color: #000;
    z-index: 10;
  }
  .lang_option > a{
    display: inline-block;
  }
  .lang_option > a:first-of-type{
    margin-left: 0;
  }
  .lang_option > span{
    display: none;
  }

  .gnb .search{
    position: fixed;
    top: 70px;
    width: 100%;
  }
  
  .main .gnb{
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: scroll;
    transition: .5s;
  }
  .main .gnb .gnb_header{
    display: none;
  }
  .gnb.active{
    left: 0;
    right: 0;
  }
  .gnb.active .gnb_header{
    display: block;
    width: 100%;
  }
  .main .gnb .gnb_list{
    display: none;
    padding: 50px;
    box-sizing: border-box;
  }
  .gnb.active .gnb_list{
    display: block;
  }
  .main .gnb .gnb_list_item{
    display: none;
    text-align: left;
    font-size: 50px;
    margin-bottom: 30px;
  }
  .gnb.active .gnb_list_item{
    display: block;
  }
  .gnb.active .gnb_list_item .sub_list{
    display: none !important;
  }

  .main .visual_slider{
    height: calc(100vh - 70px);
    top: 70px;
  }

  .section_header h2{
    margin-left: 10%;
  }

  .news_content .news_link_wrap{
    width: calc(50% - 4%);
  }
  .news_content .news_link_wrap:first-of-type{
    margin-right: 4%;
  }
  .news_content .news_link_wrap:last-of-type{
    margin-left: 4%;
  }
  .featured_col2 .featured_wrap{
    width: calc(33.33333% - 40px);
    margin-right: 60px;
  }

  footer .gnb .gnb_header{
    width: 95%;
  }
}

@media screen and (max-width: 767px){
  .lang_option > a{
    font-size: 10px;
  }
  
  .brands_logo_slide_wrap{
    display: none;
    margin: 0;
  }

  .news_content .news_link_wrap{
    display: block;
    width: 100%;
    margin: 0;
  }
  .news_content .news_link_wrap:first-of-type{
    margin-bottom: 50px;
  }
  .news_content .news_link_wrap:last-of-type{
    margin-left: 0;
  }
  .featured_content .featured_wrap{
    display: block;
    width: 100%;
    margin: 0 0 50px;
  }
  .featured_col1 .featured_wrap:last-of-type{
    margin-left: 0;
  }
  .featured_col2 .featured_wrap:last-of-type{
    margin-bottom: 0;
  }
  .featured_other_wrap > div{
    display: block;
    width: 100%;
    padding: 0;
  }
  .featured_other .investors{
    padding-right: 0;
  }
  .investors > span{
    width: 60%;
  }
  .featured_other .work_with_us{
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 50px;
    border-left: none;
    border-top: 1px solid #dedede;
  }

  footer .gnb{
    font-size: 14px;
  }
  footer .gnb_list .gnb_list_item{
    padding: 0 10px;
    box-sizing: border-box;
  }

  .btn_side{
    position: relative;
    right: 0;
    bottom: 0;
    padding: 50px 0;
    background-color: #fff;
    border-top: 1px solid #dedede;
    z-index: 1;
  }
  .btn_side .share{
    display: none;
  }
  .to_top{
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px){
  .visual_slider.img1{
    background-position-x: 20%;
  }
}
@media screen and (max-width: 638px){
  .header_top .main_logo{
    width: 65%;
  }

  .header_top .lang{
    right: 45px;
  }

  .section_header h2{
    font-size: 32px;
  }
  .main .gnb .gnb_list_item{
    font-size: 32px;
  }

  .brands_slide_wrap .img_now_showing{
    transform: scale(.7);
  }

  footer .gnb{
    height: max-content;
  }
  footer .gnb_header .gnb_list{
    display: block;
    font-size: 0;
    padding: 50px 20px;
    box-sizing: border-box;
  }
  footer .gnb_list .gnb_list_item{
    display: inline-block;
    width: 33.33333%;
    font-size: 14px;
  }
  footer .gnb_list .gnb_list_item > a{
    display: block;
    margin: 15px 0;
  }
  footer .contact{
    height: max-content;
    line-height: 50px;
    padding: 50px 0;
  }
  footer .contact > a:last-child{
    display: block;
    width: max-content;
    text-align: center;
    margin: 0 auto;
  }
  .other_link_wrap a{
    display: inline-block;
    margin: 0 20px 20px;
  }
  .other_link_wrap > span{
    display: inline-block;
    width: max-content;
  }

  .to_top > a{
    background-color: rgba(255, 255, 255, .5);
  }
}

@media screen and (max-width: 500px){
  .lang .lang_btn,
  .header_top label[for=search]{
    font-size: 18px;
    line-height: 26px;
  }
  .header_top .lang{
    right: 35px;
  }
  .header_top label[for=search]{
    right: 15px;
  }
}

@media screen and (max-width: 400px){
  .header_top .main_logo {
    transform: translateX(-2%);
  }

  .header_top .menubar{
    font-size: 16px;
    left: 15px;
  }
  .lang .lang_btn,
  .header_top label[for=search]{
    font-size: 14px;
  }
  .header_top label[for=search].active::after{
    font-size: 18px;
  }
  .header_top .lang {
    right: 25px;
  }

  .main .gnb .gnb_list_item {
    font-size: 20px;
  }
  
  .search .search_btn{
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
  .search input[id=search]{
    width: calc(100% - 30px);
    font-size: 12px;
  }

  .vs_slider_nav .vs_text{
    display: -webkit-box;
    max-height: 66px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }

  footer .gnb_list .gnb_list_item{
    display: inline-block;
    width: 50%;
    font-size: 14px;
  }
}
