@charset "UTF-8";


.content{
  padding: 20px 0 50px;
  box-sizing: border-box;
}
/* 청원 목록 상단부 */
.content .content_header{
  max-width: 1090px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  margin: 0 auto;
}
.content_header > h2{
  width: 250px;
  height: 50px;
  background: #00A084 url(./img/title_arrow.png) no-repeat center right / contain;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  padding-right: 15px;
  float: left;
  position: relative;
}

.content_header .btn_range{
  display: block;
  float: right;
  margin-top: 10px;
}
.btn_range > button{
  font-size: 18px;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  background-color: transparent;
}
.btn_range > button::before{
  content: '';
  display: inline-block;
  width: 21px;
  height: 22px;
  background: url(./img/icon_range.png) no-repeat bottom / cover;
  vertical-align: sub;
  margin-right: 5px;
}
.btn_range > button.active{
  color: #006F5B;
  text-decoration: underline;
}
.btn_range > button.active::before{
  background-position: top;
}

/* 최다동의순 청원 목록 */
.content .content_wrap{
  max-width: 1090px;
  height: 370px;
  margin: 30px auto;
  position: relative;
}
.content .ctt_page{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.ctt_page::after{
  content: '';
  display: block;
  clear: both;
}
.ctt_page > div{
  width: calc(50% - 5px);
  border: 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
.ctt_page .ctt_big{
  height: auto;
  border-color: #000;
  float: left;
  margin-right: 5px;
  position: relative;
}
.ctt_page .ctt_small{
  height: calc(50% - 8px);
  border-color: #bababa;
  float: right;
  margin-left: 5px;
}
.page1 .ctt_small:nth-of-type(2){
  margin-bottom: 8px;
}
.page1 .ctt_small:nth-of-type(3){
  margin-top: 8px;
}

/*1페이지 청원링크박스 세부구조 */
.ctt_page .numbering{
  position: absolute;
  top: -10px;
  left: 10px;
  width: 50px;
  height: 80px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(to bottom, gold, orangered);
  border-radius: 10px 10px 35px 35px;
  box-sizing: border-box;
}
.numbering > em{
  display: block;
  font-size: 1.8em;
  font-style: normal;
}
.ctt_big .numbering{
  width: 70px;
  height: 110px;
  padding-top: 30px;
  font-size: 16px;
  background: linear-gradient(to bottom, #a76cf0, #6524B9);
}

.ctt_page .petition_link{
  display: block;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
}
.petition_link .category,
.petition_link > h3{
  padding-left: 50px;
}
.ctt_big .category,
.ctt_big .petition_link > h3{
  padding-left: 75px;
  margin-right: 20px;
}
.category{
  color: #00A084;
  font-size: 15px;
}
.petition_link > h3{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0;
}
.ctt_big .petition_link > h3{
  height: 64px;
  white-space: normal;
  font-size: 20px;
  line-height: 32px;
}
.ctt_big .petition_link > p{
  height: 100px;
  color: #555;
  font-size: 15px;
  line-height: 20px;
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.petition_link:hover{
  background-color: #F7F7F7;
}
.petition_link:hover > h3{
  text-decoration: underline !important;
}
.petition_link:hover > p{
  color: #00A084 !important;
}

.ctt_page .graphic_wrap{
  width: calc(100% - 70px);
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
.ctt_big .graphic_wrap,
.ctt_normal .graphic_wrap{
  width: 100%;
}
.graphic_wrap .agree_num{
  overflow: hidden;
}
.agree_num > span:nth-child(1){
  float: left;
}
.agree_num > span:nth-child(1)::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./img/icon_agree.png) no-repeat center / contain;
  vertical-align: text-top;
}
.agree_num > span:nth-child(2){
  float: right;
}
.graphic_wrap .agree_graph{
  margin: 8px 0;
  border-radius: 5px;
  background-color: #ccc;
  overflow: hidden;
}
.agree_graph .graph_bar{
  display: block;
  height: 20px;
  background: linear-gradient(to left, #05BE1E, #019676);
  border-radius: 5px;
}

.graphic_wrap .deadline{
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 10px;
}
.ctt_big .graphic_wrap .deadline,
.ctt_normal .graphic_wrap .deadline{
  margin-bottom: 35px;
}
.deadline span b{
  font-weight: normal;
  color: crimson;
}
.deadline::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(./img/icon_date.png) no-repeat left center / contain;
  float: left;
  margin-right: 5px;
}
.ctt_big .deadline > span:nth-child(1),
.ctt_normal .deadline > span:nth-child(1){
  display: block;
  width: 100px;
  height: 25px;
  line-height: 23px;
  padding-left: 25px;
  font-size: 14px;
}

.ctt_page .d_day{
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  background-color: #222;
  border-radius: 50%;
  color: #fff;
  line-height: 70px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.ctt_big .d_day{
  bottom: 10px;
}
.d_day > span{
  color: #65FF08;
}

.ctt_page .ctt_normal{
  width: calc(33% - 5px);
  height: 100%;
  margin-right: 10px;
  border-color: #bababa;
  float: left;
}
.ctt_page .ctt_normal:last-of-type{
  margin-right: 0;
}
.page2 .petition_link,
.page3 .petition_link{
  padding: 25px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.ctt_normal .petition_link .category,
.ctt_normal .petition_link > h3{
  padding-left: 0;
}
.ctt_normal .petition_link > h3{
  height: 52px;
  white-space: normal;
  font-size: 18px;
  line-height: 26px;
}
.ctt_normal .petition_link > p {
  height: 60px;
  padding: 0;
  color: #666;
  font-size: 15px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ctt_normal .graphic_wrap{
  padding-top: 20px;
}
.ctt_normal .d_day{
  bottom: 15px;
}

.page1, .page2, .page3{
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.ctt_page.active{
  opacity: 1;
  visibility: visible;
}


/* 링크 버튼 */
.content .ctt_button{
  height: 50px;
  text-align: center;
}
.ctt_button > a{
  display: inline-block;
  height: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 15px;
  padding-left: 60px;
  margin-right: 10px;
  background-size: 40px 40px;
}
.ctt_button > a:nth-child(1){
  background: #009F83 url(./img/icon_burger.png) no-repeat left 10px center / contain;
  background-size: 40px 40px;
}
.ctt_button > a:nth-child(2){
  background: #7C7C7C url(./img/icon_write.png) no-repeat left 10px center / contain;
  background-size: 40px 40px;
}
.ctt_button > a:nth-child(3){
  background: #7C7C7C url(./img/icon_check.png) no-repeat left 10px center / contain;
  background-size: 40px 40px;
  margin-right: 0;
}
